body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
